
@{
    ViewBag.Title = "Order Tracking";
    Layout = "~/Views/Shared/_layoutSite.cshtml";
}
<section class="breadcrumb-section bg-white">
    <h2 class="sr-only">Site Breadcrumb</h2>
    <div class="container">
        <div class="breadcrumb-contents">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/">Home</a></li>
                    <li class="breadcrumb-item active">Order Tracking</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<main class=" inner-page-sec-padding-bottom ">
    <div class="container">
      
                    <form action="" method="post">
                        <div class="row ">
                         
                            <div class="col-md-12">
                                <div class=" text-danger ">
                                    <label for="email">Enter the order SDT</label>
                                    <input class="w-100 mb-0 form-control" type="text" name="phone" value="" placeholder="Your phone." required>
                                </div>
                                <div class="col-md-5 ">
                                    <button type="submit" class="btn btn-outlined ">View</button>
                                </div>
                            </div>
                         
                        </div>
                                         
                    </form>
                </div>
  
</main>
	
<!--=============
